.move_up {
    animation: move_up 1s both;
}
@keyframes move_up {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}