/* ===============nav */
nav {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 80px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    z-index: 999;
}
nav h1 a {display: inline-block;}
nav h1 a img {width: 100%;}
nav .nav_bg {
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    height: 200px;
    background-color: #fff;
}
nav .gnb {
    display: flex;
    justify-content: space-evenly;
}
nav .gnb > li {}
nav .gnb > li > a {
    display: inline-block;
    width: 120px;
    font-size: 1.125rem;
    font-weight: 500;
    text-align: center;
    letter-spacing: -2px;
    transition: all 0.3s;
}
nav .gnb > li > a:hover {color: #0042CF;}
nav .gnb li .sub {
    position: absolute;
    top: 90px;
    text-align: center;
    overflow: hidden;
}
nav .gnb li .sub li {
    width: 120px;
    margin-bottom: 10px;
}
nav .gnb li .sub li a {
    display: inline-block;
    position: relative;
    width: max-content;
    text-align: center;
    font-weight: 500;
    color: #969696;
    line-height: 30px;
    border: 0px
}
nav .gnb li .sub li a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 0;
    height: 1px;
    background-color: #969696;
    transition: all 0.3s;
}
nav .gnb li .sub li a:hover::before {
    width: 100%;
}
nav .gnb_right{}
nav .gnb_right a {color: #969696;}
/* ===============m-nav */
.m_menu nav {
    width: 70%;
    height: 100vh;
    top: 0;
    flex-direction: column;
}
.m_menu .nav_bg {display: none;}
.m_menu nav .gnb {
    flex-direction: column;
}
.m_menu .gnb li .sub {
    position: unset;
    height: max-content;
    background-color: #F4F4F4;
}
.m_menu nav {
    padding: 0;
    left: 0;
    justify-content: flex-start;
}
.m_menu nav .gnb_left {
    justify-content: space-between;
    margin-bottom: 25px;
    padding: 0px 16px;
    height: 68px;
    border-bottom: 1px solid #eee;
}
.m_menu nav h1 {width: auto;}
.m_menu nav .gnb {
    width: 100%;
    height: 100%;
    justify-content: flex-start;
}
.m_menu nav .gnb > li > a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    line-height: 50px;
    width: 100%;
    text-align: left;
}
.m_menu nav .gnb > li > a::after {
    content: "";
    width: 5px;
    height: 5px;
    border: 2px solid #969696;
    border-left: 0;
    border-top: 0;
    display: inline-block;
    transform: rotate(45deg);
    margin-bottom: 5px;
}
.m_menu nav .gnb li .sub li {
    width: auto;
    padding: 0 16px;
    margin: 0;
}
.m_menu nav .gnb li .sub li a {
    width: 100%;
    text-align: left;
    line-height: 50px;
}
.m_menu nav .gnb li .sub li a:hover::before {width: unset;}
.m_menu nav .gnb_right {
    padding: 15px 16px;
    width: 100%;
    display: flex;
    background-color: #F4F4F4;
}
.m_menu nav .gnb_right a {
    margin-right: 20px;
    display: inline-block;
    font-weight: 500;
    color: #969696;
}
/* ===============footer */
footer {
    padding: 30px 0;
    background-color: #F4F4F4;
}
footer .ft_wrap {
    max-width: 1180px;
    margin: 0 auto;
}
footer .ft_wrap .ft_list {
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #E3E3E3;
}
footer .ft_wrap .ft_list li {
    display: flex;
    flex-direction: column;
    width: 160px;
    margin-bottom: 20px;
}
footer .ft_wrap .ft_list li a:first-child {color: #555;}
footer .ft_wrap .ft_list li a {
    display: inline-block;
    margin-bottom: 10px;
    color: #969696;
    transition: all 0.3s;
}
footer .ft_wrap .ft_list li a:hover {
    color: #000;
}
footer .ft_wrap .customer_service {
    padding: 30px 0;
    border-bottom: 1px solid #E3E3E3;
    display: flex;
}
footer .ft_wrap .customer_service .txt {
    width: calc(100% / 2);
}
footer .ft_wrap .customer_service .txt p:first-child {color: #555;}
footer .ft_wrap .customer_service .txt p {
    margin-bottom: 10px;
    color: #969696;
}
footer .ft_wrap .customer_service .service_list {
    display: flex;
    justify-content: flex-end;
    width: 100%
}
footer .ft_wrap .customer_service .service_list li {
    display: flex;
    flex-direction: column;
    width: calc(100% / 5);
}

footer .ft_wrap .customer_service .service_list li p:first-child {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
footer .ft_wrap .customer_service .service_list li p {margin-bottom: 10px;}
footer .ft_wrap .customer_service .service_list li p,
footer .ft_wrap .customer_service .service_list li a {
    color: #555;
}
footer .ft_wrap .customer_service .service_list li p img {
    display: inline-block;
    max-width: 100%;
}
footer .ft_wrap .company {padding: 30px 0;}
footer .ft_wrap .company .company_link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .ft_wrap .company .company_link a {color: #555;}
footer .ft_wrap .company .company_link a:last-child {color: #000;}
footer .ft_wrap .company .company_link a:last-child:after {display: none;}
footer .ft_wrap .company .company_link a::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 15px;
    margin: 0 10px;
    background-color: #d3d3d3;
}
footer .ft_wrap .company .company_link .select_down {position: relative;}
footer .ft_wrap .company .company_link .select_down li {}
footer .ft_wrap .company .company_link .select_down li button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    width: 200px;
    color: #555;
    border: 1px solid #969696;
}
footer .ft_wrap .company .company_link .select_down li .family_site {
    position: absolute;
    padding: 10px 0;
    width: 100%;
    border: 1px solid #969696;
    background-color: #f4f4f4;
    border-top: 0;
    opacity: 0;
    transition: all 0.3s;
}
footer .ft_wrap .company .company_link .select_down li .family_site li a {
    display: block;
    line-height: 30px;
    padding: 0 10px;
    color: #555;
    transition: color 0.3s;
}
footer .ft_wrap .company .company_link .select_down li .family_site li a:hover {color: #000;}
footer .ft_wrap .company .company_link .select_down li button::after {
    content: "";
    width: 8px;
    height: 8px;
    border: 2px solid #969696;
    border-left: 0;
    border-top: 0;
    display: inline-block;
    transform: rotate(45deg);
    margin-bottom: 5px;
}
footer .ft_wrap .company .address {}
footer .ft_wrap .company .address li {margin-bottom: 10px;}
footer .ft_wrap .company .address li span {color: #969696; line-height: 1.2;}
footer .ft_wrap .company .address li span::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 15px;
    margin: 0 10px;
    background-color: #d3d3d3;
}
footer .ft_wrap .company .address li span:last-child:after {display: none;}
footer .ft_wrap .company .address li:last-child {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
footer .ft_wrap .company .address li:last-child img {
    margin-bottom: 20px;
    display: block;
    margin-right: 10px;
}
/* scroll top btn */
.scroll_top_btn {
    position: fixed;
    right: 2%;
    bottom: 2%;
    cursor: pointer;
    background-color: #555;
    background-image: url("../images/scroll_top.svg");
    background-repeat: no-repeat;
    background-size: 28px 28px;
    background-position: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 2px 3px 4px #969696;
    transition: all 0.3s;
}
@media screen and (max-width : 1180px) {
    footer {padding-left: 16px !important; padding-right: 16px !important;}
}

@media screen and (max-width : 960px) {
    /* nav */
    nav {
        padding: 0 16px;
        justify-content: center; 
        height: 56px;
    }
    nav h1 {width: 100%; text-align: center;}
    .gnb_left {
        display: flex;
        align-items: center;
        width: 100%;
    }
    nav .gnb_right {display: none;}
    header {padding-top: 56px;}

    /* footer */
    footer {padding: 30px 16px;}
    footer .ft_wrap .customer_service .txt {width: 100%;}
    footer .ft_wrap .customer_service .txt p:last-child {margin-bottom: 30px;}
    footer .ft_wrap .customer_service {flex-direction: column;}
    footer .ft_wrap .company .company_link {
        margin-bottom: 20px;
        align-items: flex-start;
        flex-direction: column;
    }
    footer .ft_wrap .company .company_link .left {margin-bottom: 20px;}
}