/* sec01 */
.header_swiper {position: relative;}
.swiper-button-prev,
.swiper-button-next {
    padding: 15px 5px;
    border-radius: 20px;
    color: white !important;
    
}
.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 0.875rem !important;
    font-weight: 600 !important;
}
.swiper_navigation {
    width: 105px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%);
    z-index: 100;
}
.swiper-pagination {
    margin-bottom: 1px;
    font-size: 0.875rem;
    color: #fff !important;
}
.header_swiper .swiper-wrapper .swiper-slide {
    position: relative;
    width: 100%;
    min-height: 480px;
    background-size: cover;
    background-position: center;
}
.header_swiper .swiper-wrapper .slide1 {background-image: url("../images/esellers/ably.jpg");}
.header_swiper .swiper-wrapper .slide2 {background-image: url("../images/esellers/esellers_main.png");}
.header_swiper .swiper-wrapper .slide3 {background-image: url("../images/esellers/esellreviewer.png");}
.header_swiper .swiper-wrapper .swiper-slide .slide_txt{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
}
.header_swiper .swiper-wrapper .swiper-slide h1 {
    margin-bottom: 30px;
    font-size: 2.5rem;
    line-height: 1.4;
    font-weight: 700;
    color: #fff;
}
.header_swiper .swiper-wrapper .swiper-slide p {
    margin-bottom: 30px;
    font-size: 1.25rem;
    color: #fff;
}
.header_swiper .swiper-wrapper .swiper-slide a {
    padding: 5px 10px;
    color: #fff;
    background-color: #000;
    transition: opacity 0.3s;
}
.header_swiper .swiper-wrapper .swiper-slide a:hover {opacity: 0.7;}
/* sec02 */
.sec02 {padding: 100px 0;}
.sec02 .txt {text-align: center;}
.sec02 .txt h2 {line-height: 1.3;}